movable-area {
	width: 1000rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
	
	.ok-button {
		position: absolute;
		left: 150rpx;
		background-color: #00b600;
		color: white;
		width: 140rpx;
		border-radius: 10rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: inset 0 0 5rpx #00000050;
		margin-top: 1rpx;
		height: 130rpx;
		
		&:active {
			background-color: #008600;
		}
	}
	
	movable-view {
		width: 700rpx;
		z-index: 10;
		height: auto;
		
		.list-item {
		  position: relative;
		  width: 660rpx;
		  background-color: #f6f2e9;
		  padding: 20rpx;
		  border-radius: 10rpx;
		  box-shadow: 0 2rpx 10rpx #7a695c50;
		  margin-bottom: 20rpx;
		  
			.time-area {
				background-color: #ede4d8;
				margin-left: -20rpx;
				margin-top: -20rpx;
				padding: 10rpx 20rpx;
				width: 660rpx;
				border-radius: 10rpx 10rpx 0 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
		
				text {
				    color: #cebfae;
				}
			}
		
			.item-text {
				width: 660rpx;
				display: inline-block;
				word-wrap: break-word;
				white-space: normal;
				margin-top: 20rpx;
				color: #6e492f;
			}
		}
	}
}